      <div class="modal">
        <button type="button" class="modal-close__btn" data-modal-close>close</button>
        <div class="modal-left">
          <img class="modal__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}}" />
        </div>
        <div class="modal-right">
          <h1 class="modal__title">{{original_title}}</h1>
          <ul class="modal-subtitles">
              <li class="modal-subtitles__item">Vote / Votes</li>
              <li class="modal-subtitles__item"><span class="modal_vote">{{vote_average}}</span> / {{vote_count}}</li>
              <li class="modal-subtitles__item">Popularity</li>
              <li class="modal-subtitles__item">{{popularity}}</li>
              <li class="modal-subtitles__item">Original Title</li>
              <li class="modal-subtitles__item">{{original_title}}</li>
              <li class="modal-subtitles__item">Genre</li>
              <li class="modal-subtitles__item">{{genre_ids}}</li>
          </ul>
          <h2 class="modal-about__title">ABOUT</h2>
          <p class="modal-about__text">{{overview}}</p>
          <ul class="modal-buttons__list">
            <li><button type="button" class="modal__btn modal__btn--watch">Add to Watched</button></li>
            <li><button type="button" class="modal__btn modal__btn--queue">Add to Queue</button></li> 
            {{#if video}}
            <li><button type="button" class="modal__btn modal__btn--player"><a class="player-link" href="https://www.youtube.com/watch?v={{trailer}}" target="_blank" >Trailer</a></button></li>
            {{/if}} 
          </ul>
        </div>
      </div>